
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Sans', sans-serif;
  background: white;
}
.top1{
position: relative;
background-color: white;
z-index: 1;
height:430px;
animation: change 20s infinite ease-in-out;
}
@keyframes change {
  0%{background-color: white;}
  25%{background-color: #FFD100;}
50%{background-color: #FF6100;}
75%{background-color: #5DB6CA;}
100%{background-color:white;}
}
.sun{
  width:300px;
  height:300px;
  position: relative;
  z-index:2;
  right: -40%;
  top: -470px;
  opacity: 1;
  background: url('../img/sun.svg');
  animation: moving 12s infinite linear;
}

@keyframes moving {
  100% {transform: rotate(-360deg);}
}

.logo{
  font-size: 50px;
  width:100px;
}
.i{
  width:200px;
  position: relative;
  z-index: 2;
  top: -645px;
  right: -890px;
   animation: circle 12s infinite linear;
}
/*.s{
  position: relative;
  top: -210px;
  left: 890px;
   animation: circle 10s infinite linear;
}*/
@keyframes circle{
  0%{
    transform:rotate(0deg)
              translate(-175px)
              rotate(0deg);}
  100%{
    transform:rotate(-360deg)
              translate(-175px)
              rotate(360deg);}
}


.head1{
  box-sizing: border-box;
  width:250px;
  font-size: 24px;
  position: relative;
  z-index: 2;
  right: -100px;
  top: -360px;
}
.head2{
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  right:-1540px;
  top: -400px;
  width:300px;
  font-size: 24px;

}
.fon1{
  position: relative;
  top: -450px;
  z-index:1;
background-color: #5DB6CA;
box-sizing: border-box;
width: 100%;
height:950px;
}


.container {
  display: grid;
 grid-template-columns: 182px 209px 209px 209px 209px 209px 182px;
 grid-template-rows: 275px 176px 275px;
 gap: 34px 123px;
    grid-template-areas:
      ". eye1 eye2 eye3 eye4 eyetext1 ."
      ". eyetext2 eyetext2 eyetext2 eye5 eyetext1 ."
      ". eye6 eye7 eyetext3 eyetext3 eye8 .";
    position: relative;
    top: -1350px;
    right: 130px;
    z-index: 2;
}


.eye1 {
  grid-area: eye1;
  background: url('../img/e1.svg');
}

.eye2 {
  grid-area: eye2;
  background: url('../img/e3.svg');
 }

.eye3 { grid-area: eye3;
background: url('../img/e1.svg'); }

.eye4 { grid-area: eye4;
background: url('../img/e3.svg') }

.eye5 { grid-area: eye5;
background: url('../img/e2.svg');
background-repeat:no-repeat;
background-position: center;
position: relative;
top: 25px;}

.eye6 { grid-area: eye6;
background: url('../img/e1.svg');
background-repeat:no-repeat;
background-position: center;
position: relative;
top: 50px;}

.eye7 { grid-area: eye7;
background: url('../img/e3.svg');
background-repeat:no-repeat;
background-position: center;
position: relative;
top: 50px;}

.eye8 { grid-area: eye8;
background: url('../img/e1.svg');
background-repeat:no-repeat;
background-position: center;
position: relative;
top: 50px;}




.container2 {
  margin: auto;
  display: grid;
  grid-template-columns: 182px 233px 233px 233px 233px 233px 182px;
  grid-template-rows: 275px 233px 275px;
  gap: 34px 100px;
  grid-auto-flow: row;
  grid-template-areas:
    ". sune1 sune2 sune3 sune4 suntext1 ."
    ". suntext2 suntext2 suntext2 sune5 suntext1 ."
    ". sune6 sune7 suntext3 suntext3 sune8 .";
    position: relative;
    top: -2212px;
    right: 120px;
    z-index: 3;
}

.suntext1 { grid-area: suntext1;
  background: url('../img/et.svg');
  background-repeat:no-repeat;
  animation: show 1s ease 2s 1 normal forwards;
}
@keyframes show {
  0% {background: url('../img/et1.svg');
  background-repeat:no-repeat;
  background-position: center;
    transform: scaleY(0);
    transform-origin: 100% 0%;}
 100% {background: url('../img/et1.svg');
 background-repeat:no-repeat;
 background-position: center;
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
.text1{
  width:150px;
  text-align: center;
  font-size: 36px;
  line-height: 70px;
  position: relative;
  right: -1650px;
  top: 165px;
  z-index: 3;
  opacity: 0;
  animation: text 1s ease 2.5s 1 normal forwards;
}

@keyframes text {
  0% {opacity: 0; transform: translateY(-150px);}
  100% {opacity: 1; transform: translateY(0);}
}

.se2{
  width:235px;
  background: url('../img/et3.svg');
  background-repeat:no-repeat;
  position: relative;
  z-index: 2;
  left: 948px;
  top: -268px;
  animation: opacity 0.2s ease 4s 1 normal forwards;
}
.se3{
  width:235px;
  background: url('../img/se3.svg');
  background-position: center;
  background-repeat:no-repeat;
  position: relative;
  z-index: 2;
  left: -1333px;
  top: -287px;
  animation: opacity 0.2s ease 4s 1 normal forwards;
}
.se1{
  width:235px;
  background: url('../img/et3.svg');
  background-position: center;
  background-repeat:no-repeat;
  position: relative;
  z-index: 2;
  left: -335px;
  top: 0px;
  animation: opacity 0.2s ease 1.9s 1 normal forwards;
}
.se4{
  width:235px;
  height: 235px;
  background: url('../img/se5.svg');
  background-position: center;
  background-repeat:no-repeat;
  opacity: 1;
  position: relative;
  z-index: 2;
  left: 1280px;
  top: -290px;
  animation: opacity 0.2s ease 5.9s 1 normal forwards;
}

@keyframes opacity {
  100%{opacity: 0}
}

.suntext2 { grid-area: suntext2;
  background: url('../img/et3.svg');
  background-repeat:no-repeat;
  animation: show2 1s ease 4s 1 normal forwards;}

  @keyframes show2 {
  0% {background: url('../img/et4.svg');
    background-repeat:no-repeat;
    background-position: center;
    transform: scaleX(0);
    transform-origin: 0% 0%;}

  100% {background: url('../img/et4.svg');
    background-repeat:no-repeat;
    background-position: center;
    transform: scaleX(1);
    transform-origin: 0% 0%;}
}
.text2{
  width:350px;
  height: 100px;
  text-align: center;
  font-size: 36px;
  position: relative;
  left: -1395px;
  top: 405px;
  z-index: 3;
  opacity: 0;
  animation: text2 1s ease 4.5s 1 normal forwards;
}
@keyframes text2 {
  0% {opacity: 0; transform: scaleX(0);
    transform-origin: 0% 0%;}
  100% {opacity: 1;   transform: scaleX(1);
    transform-origin: 0% 0%;}
}
.suntext3 { grid-area: suntext3;
  background: url('../img/et.svg');
  background-repeat:no-repeat;
animation: show3 1s ease 6s 1 normal forwards;
}
@keyframes show3 {
0%{background: url('../img/et5.svg');
  background-repeat:no-repeat;
  background-position: center;
  transform: scaleX(0);
  transform-origin: 0% 0%;}
  100%{background: url('../img/et5.svg');
    background-repeat:no-repeat;
    background-position: center;
    transform: scaleX(1);
    transform-origin: 0% 0%;}
}
.text3{
  width:350px;
  height: 100px;
  text-align: center;
  font-size: 36px;
  position: relative;
  left: 1050px;
  top: 380px;
  z-index: 3;
  opacity: 0;
  animation: text2 1s ease 6.5s 1 normal forwards;
}

.sune1 { grid-area: sune1;
background: url('../img/i2.svg');
background-repeat:no-repeat;
background-position: center;
}
.sune1:hover{
background: url('../img/i5.svg');
background-repeat:no-repeat;
background-position: center;
animation: moving 2s 1 ease-in-out;
}

.sune2 { grid-area: sune2;
  background: url('../img/i3.svg');
  background-repeat:no-repeat;
background-position: center;
}
  .sune2:hover{
  animation:swing 1s 2 ease-in-out;
  }
  @keyframes swing {
    15% {transform: translateX(9px);}
    30% {transform: translateX(-9px);}
    40% {transform: translateX(6px);}
    50% {transform: translateX(-6px);}
    65% {transform: translateX(3px);}
    100% {transform: translateX(0);}
  }


.sune3 { grid-area: sune3;
  background: url('../img/i2.svg');
  background-repeat:no-repeat;
background-position: center;}
  .sune3:hover{
    background: url('../img/i5.svg');
    background-repeat:no-repeat;
  background-position: center;
  animation: scale 1s 3 ease-in-out;
  }
@keyframes scale {
  0%{transform: scale(1);}
  50%{transform: scale(1.3);}
  100%{transform: scale(1);}
}

.sune4 { grid-area: sune4;
  background: url('../img/i3.svg');
  background-position: center;
  background-repeat:no-repeat; }
  .sune4:hover{
    animation: rot 1.5s 3 ease-in-out;
  }
  @keyframes rot {
    0%{transform: rotateZ(0deg);}
    25%{transform: rotateZ(30deg);}
    50%{transform: rotateZ(-30deg);}
    75%{transform: rotateZ(30deg);}
    100%{transform: rotateZ(0deg);}
  }
.sune5 { grid-area: sune5;
  background: url('../img/i2.svg');
  background-position: center;
  background-repeat:no-repeat;
}
  .sune5:hover{
    background: url('../img/i5.svg');
    background-position: center;
    background-repeat:no-repeat;
  animation: jello 2s ease 0s 1 normal;
  }
  @keyframes jello {
    0% {transform: scale3d(1, 1, 1);}

    30% {transform: scale3d(1.25, 0.75, 1);}

    40% {transform: scale3d(0.75, 1.25, 1);}

    50% {transform: scale3d(1.15, 0.85, 1);}

    65% {transform: scale3d(0.95, 1.05, 1);}

    75% {transform: scale3d(1.05, 0.95, 1);}

    100% {transform: scale3d(1, 1, 1);}
  }
.sune6 { grid-area: sune6;
  background: url('../img/i2.svg');
  background-position: center;
  background-repeat:no-repeat;
  position: relative;
  top: -5px;
}
.sune6:hover{
  background: url('../img/i5.svg');
  background-position: center;
  background-repeat:no-repeat;
animation: shake2 1s ease-in-out 0s 2 normal;
}
@keyframes shake2 {
  0%,100% {transform: translateY(0);}

  10%,30%,50%,70% {transform: translateY(-12px);}

  20%,40%,60% {transform: translateY(12px);}

  80% {transform: translateY(8px);}

  90% {transform: translateY(-8px);}
}
.sune7 { grid-area: sune7;
background: url('../img/i3.svg');
  background-position: center;
  background-repeat:no-repeat;
  position: relative;
  top: -5px;}

.sune7:hover{
  animation: jello2 1.5s ease 0s 2 normal;
  }
  @keyframes jello2 {
    0% {  transform: scale3d(1, 1, 1);
    }
    30% {  transform: scale3d(0.75, 1.25, 1);
    }
    40% {  transform: scale3d(1.25, 0.75, 1);
    }
    50% {transform: scale3d(0.85, 1.15, 1);
    }
    65% {transform: scale3d(1.05, 0.95, 1);
    }
    75% {transform: scale3d(0.95, 1.05, 1);
    }
    100% {transform: scale3d(1, 1, 1);}
  }
.sune8 { grid-area: sune8;
background: url('../img/i2.svg');
  background-position: center;
  background-repeat:no-repeat;
  position: relative;
  top: -5px;}

  .sune8:hover{
    background: url('../img/i5.svg');
    background-position: center;
    background-repeat:no-repeat;
  animation: bye 1.5s ease 0s 3 normal;
  }
  @keyframes bye {
    0% {transform: scale(1);}
    50% {transform: scale(0);}
    100% {transform: scale(1);}
  }
